*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: #F4F4F4;
}

.container{
    width: 1320px;
    margin: 0 auto;
}


header{
    background-color: #181818;
    display: flex;
    align-items: center;
}

.logo h1{
    padding-top: 5px;
    color: white;
    font-weight: 400;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
}


.container{
    width: 1320px;
    margin: 0 auto;
    

}

.nav-menu{
    width: 1800px;
    margin: 0 auto;
}

.menu{
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

.menu-l{
    padding-top: 5px;
    display: flex;
    color: white;

    li{

        color: white;
        margin-left: 25px;
        font-weight: 500;
        font-size: 15px;
        font-family: 'PP Pangram Sans', sans-serif 
    }
}

.knop{

    border-radius: 8px;
    padding: 13px 5px;
    color: white;
    background-color: transparent;
    border-color: white;
    font-size: 13px;
    font-weight: 700;
    font-family: 'PP Pangram Sans', sans-serif;
}

.tel{
    padding-top: 5px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Unbounded', sans-serif;
}



.prof img{
    padding-top: 5px;
    margin-left: 10px;
}

.soc{
    padding-top: 5px;
    display: flex;
    img{
        height: 32px;
        margin-left: 15px;
    }
}

.button-head{
    border-radius: 20px;
    width: 100px;
}
.promo{
    color: white;
    background-image: url("/../web/img/5f1ad27958d12f24895bdb686ef56b65.jpg");
    background-size: cover;
    height: 766px;


    .sect1-text{
        display: block;
        text-align: center;
        justify-content: center;
        padding-top: 90px;
        padding-bottom: 60px;
        h1{
            font-size: 89px;
            font-family: 'Unbounded'
        }

        p{
            padding-top: 50px;
            font-size: 40px;
            font-family: 'PP Pangram Sans';

        }
    }

    .spis1{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 80px;
        li{
            padding-left: 30px;
            display: flex;
            p{
                padding-left: 20px;
                font-size: 23px;
                font-family: 'PP Pangram Sans';
                font-weight: 300;
            }
        }
    }
}